$color-wht: #fff;


body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ff9966; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ff5e62,
		#ff9966
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ff5e62,
		#ff9966
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {

	h1 {
		color: $color-wht;
	}

	.btn {
		.reset-btn {
			text-decoration: none;
			color: $color-wht;
			border: 5px solid $color-wht;
			background: transparent;
			font-size: 24px;
			padding: 6px 24px;
		}
	}

	.container {
		display: flex;
		justify-content: flex-end;
		margin: 0 20px;

		.inner {
			background: #f37335;
			padding: 1em;
			border-radius: 10px;
			width: 250px;
			clip-path: circle(10% at 90% 20%);
			transition: all 0.5s ease-in-out;
			cursor: pointer;

			&:hover {
				clip-path: circle(75%);
				background: #00b6ff;
			}

			h2 {
				color: $color-wht;
				margin: 0;
			}

			p {
				color: $color-wht;
				font-size: 0.8rem;
			}
			span {
				float: right;
				color: $color-wht;
				font-weight: bold;
				transition: color 0.5s;
				position: relative;
				margin-right: 4%;
			}
			&:hover span {
				color: rgba(255, 255, 255, 0);
			}
		}
	}
}

.scores {
	margin: 12px;
	color: $color-wht;
	font-size: 48px;

	.row-players {
		display: flex;
		justify-content: space-evenly;

		span {
			margin: 0 48px;
		}
	}
	.row-score {
		display: flex;
		justify-content: center;
	}
}



.main {
	.container {
		display: flex;
		justify-content: center;

		button {
			border: 0;
			background-color: transparent;
			padding: 30px;
			i {
				color: white;
				font-size: 90px;
			}
			&:hover i {
				transform: scale(1.2);
			}
		}

		.info {
			font-size: 20px;
			color: #fff;
			line-height: 1.5;
		}
	}
}
